body {
  background: #89cff0;
}

.title {
  font-family: 'Bukhari Script', sans-serif;
  color: #ff4756;
  text-align: center;
}

@font-face {
    font-family: 'Bukhari Script';
    font-style: italic;
    font-weight: 400;
    src: local('Bukhari Script'), url('https://fonts.cdnfonts.com/s/57472/BukhariScript-Regular.woff') format('woff');
}

